html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}


.chart-item {
    flex: 1 1 calc(50% - 5px); /* 2 grafy na øádku */
    box-sizing: border-box;
    min-width: 400px; /* Minimální šíøka grafu */
    max-width: 600px; /* Maximální šíøka grafu */
}

    .chart-item h3 {
        text-align: center; /* Nadpis grafu na støed */
    }

#polaritybar, #polaritybarM {
  
    overflow: hidden;
}

.active1 {
    background-color: gray;
}

th.sortable {
    cursor: pointer;
}



.switch-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
}

    .switch-button.active {
        background-color: #007bff;
        color: #fff;
    }

.table-container {
    display: none;
}

    .table-container.active {
        display: block;
    }


.container_time {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}


.dropdown-time {
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.dropdown-time label {
    font-size: 16px;
  
    margin-right:10px;
        
}
    .dropdown-time select {
        flex-grow: 1; 
      
    }
.form-select {
    max-width: 250px;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 100%;
    justify-content: center;
}
#politicianSelectTime option {
    cursor: pointer;
}
#politician-list-er {
    width: 200px;
    height: 300px; /* Pevná vıška seznamu */
    overflow-y: auto; /* Povolit svislı scroll */
    border: 1px solid #ccc;
    padding: 5px;
}



.graphbar {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.entity-table {
    width: 100%;
    table-layout: fixed; /* Zabraòuje roztaení tabulky */
    border-collapse: collapse; /* Spojuje okraje bunìk */
}

    .entity-table th, .entity-table td {
        padding: 12px 15px; /* Vìtší odsazení pro lepší èitelnost */
        text-align: left;
        border: 1px solid #ddd; /* Svìtle šedı okraj */
    }

    .entity-table th {
        background-color: #f4f4f9; /* Svìtle šedé pozadí pro hlavièky */
        font-weight: bold;
        color: #333;
    }

    .entity-table tr:nth-child(even) {
        background-color: #f9f9f9; /* Støídavé pozadí pro øádky */
    }

    .entity-table tr:hover {
        background-color: #f1f1f1; /* Zmìna pozadí pøi najetí myší */
    }

    .entity-table td {
        word-wrap: break-word; /* Dlouhı text se zalomí */
    }

    .entity-table .no-data {
        text-align: center;
        color: #888;
    }

/* Styl pro tabulku s typy entit */
.grouped-entity-table {
    width: 100%;
    table-layout: fixed; /* Zabraòuje roztaení tabulky */
    border-collapse: collapse; /* Spojuje okraje bunìk */
}

    .grouped-entity-table th, .grouped-entity-table td {
        padding: 12px 15px; /* Vìtší odsazení pro lepší èitelnost */
        text-align: left;
        border: 1px solid #ddd; /* Svìtle šedı okraj */
    }

    .grouped-entity-table th {
        background-color: #f4f4f9; /* Svìtle šedé pozadí pro hlavièky */
        font-weight: bold;
        color: #333;
    }

    .grouped-entity-table tr:nth-child(even) {
        background-color: #f9f9f9; /* Støídavé pozadí pro øádky */
    }

    .grouped-entity-table tr:hover {
        background-color: #f1f1f1; /* Zmìna pozadí pøi najetí myší */
    }

    .grouped-entity-table td {
        word-wrap: break-word; /* Dlouhı text se zalomí */
    }

    .grouped-entity-table .no-data {
        text-align: center;
        color: #888;
    }

.cluster-container {
   
    
    padding: 0px;
   
    margin-bottom: 20px;
}

    .cluster-container h3 {
        color: #333;
        font-size: 20px;
        margin-bottom: 15px;
    }

.cluster-content {
    display: flex;
   
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

.cluster-boxplot, .cluster-entity, .cluster-topic {
    border: 1px solid #ddd;
    border-radius: 8px;
    
    box-shadow: 2px 2px 1px 1px #888888;
    flex: 1 1 30%; /* Zmìnìná velikost pro lepší pøizpùsobení */
}


.cluster-boxplot {
    min-width: 250px;
    flex: 1 1 32%; /* Zajišuje, e všechny boxploty se vejdou do tøí sloupcù */
}

.cluster-entity, .cluster-topic {
    flex: 1 1 32%; /* Entity a Topic zabírají 32% šíøky */
   
}

.graph-container {
   
    
    display: flex;
    justify-content: center;
    
}

h3 {
    text-align: center;
    
    margin-bottom: 15px;
}

h4 {
    text-align: center;
    
    margin-bottom: 15px;
}
.entity-charts {
    display: flex;
    flex-direction: column; /* Karty budou pod sebou */
    gap: 10px;
    align-items: center; /* Zarovná je na støed */
    
}

.entity-card {

   
    margin: 8px auto;
    background: white;
    border-radius: 10px;
    box-shadow: 2px 5px 10px 10px rgba(0, 0, 0, 0.2);
    padding: 5px;
    
   
}

.entity-header {
    grid-column: span 2; /* Nadpis pøes celou šíøku */
    background: #007bff;
    color: white;
    font-weight: bold;
    padding: 8px;
    border-radius: 10px 10px 10px 10px;
    text-align: center;

}

.left-panel-sentiment {
    width: 60%;
    padding: 10px;
}
.right-panel-sentiment {
    width: 40%;
    padding: 10px;
}
.left-panel-count {
    width: 60%;
    padding: 10px;
}

.right-panel-count {
    width: 40%;
    padding: 10px;
}
.left-panel-emotion {
    width: 55%;
    padding: 10px;
}

.right-panel-emotion {
    width: 40%;
    padding: 10px;
}

.left-panel-ner {
    width: 60%;
    padding: 10px;
}

.right-panel-ner {
    width: 40%;
    padding: 10px;
}
.sentiment_page {
    display: flex;
    width: 100%;
}
.chart-container {
    height: 420px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    
}
.chart-container-small {
    height: 330px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
}
#allinfo {
    width: 55%; 
    float: left; 
    padding-right: 10px; 
    
}

#charts-container {
    width: 45%;
    float: left; 
   
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.card {
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: 15px auto;
}


.card-header {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
}


.card-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align:center;
}


.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dva sloupce */
    gap: 5px; /* Mezera mezi bloky */
}

.block {
    border: 2px solid rgba(211, 211, 211, 0.7);
    padding: 2px;
    border-radius: 5px;
    text-align:center;
}


   
    .block h4 {
        margin-bottom: 10px;
        font-size: 1.2em;
    }
.count-box {
    border: 2px solid #4CAF50;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

    .count-box:hover {
        transform: translateY(-5px); /* Mírnı efekt pohybu pøi najetí myší */
    }

    .count-box h4 {
        color: #333;
        font-family: Arial, sans-serif;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .count-box p {
        font-size: 24px;
        color: #4CAF50;
        font-weight: bold;
    }

.error-message {
    color: #FF0000;
}

.year-selection {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.year-select {
    font-size: 18px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
    -webkit-appearance: none;
    -moz-appearance: none;
}

    .year-select:focus {
        border-color: #4CAF50;
        background-color: #f0f8f0;
    }

    /* Custom arrow */
    .year-select::-ms-expand {
        display: none;
    }

/* Optional styling for the label */
.year-label {
    font-size: 18px;
    margin-right: 20px;
    color: #555;
}

.ngram {
    display: inline-block;
    background-color: #f8f9fa;
    padding: 5px 10px;
    margin: 3px;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid #ddd;
}

.ngram-box {
    padding: 10px;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}


/* Styling pro formuláø */
.custom-form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* mezera mezi jednotlivımi polokami */
    padding: 5px; /* vnitøní okraje formuláøe */
    width: 300px; /* nastavení šíøky formuláøe */
    border: 1px solid #ccc; /* ohranièení */
    border-radius: 5px; /* zaoblené rohy */
    background-color: #fafafa; /* svìtle šedé pozadí */
    height:100%;
}

.form-check {
    display: flex;
    align-items: center;
    gap: 8px; /* mezera mezi checkboxem a textem */
}

#politicianFormRT label {
    font-size: 14px;
    word-wrap: break-word; /* pokud je text pøíliš dlouhı, pøeteèe na novı øádek */
}
#politicianList label {
    font-size: 14px;
    word-wrap: break-word; /* pokud je text pøíliš dlouhı, pøeteèe na novı øádek */
}

/* Dynamické pøizpùsobení šíøky pro sloupec obsahující formuláø */
.col-md-auto {
    display: flex;
    justify-content: flex-start; /* Zarovná formuláø na zaèátek */
    margin-right:5px;
}

/* Styling pro graf */
.graphbar {
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 2560px) {
    .main {
        margin-left: 60px;
        margin-right: 60px;
    }
}

.styled-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

    .styled-table th,
    .styled-table td {
        padding: 12px 16px;
        text-align: left;
    }

    .styled-table th {
        background-color: #007BFF;
        color: white;
        font-weight: bold;
    }

    .styled-table tbody tr:nth-child(even) {
        background-color: #f8f9fa;
    }

    .styled-table tbody tr:hover {
        background-color: #e2e6ea;
    }

    .styled-table td.sentiment {
        font-weight: bold;
    }

.positive {
    color: #28a745;
}

.negative {
    color: #dc3545;
}

.neutral {
    color: #6c757d;
}

.styled-button {
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

    .styled-button:hover {
        background-color: #0056b3;
    }


.filter-panel {
    border-radius:5px;
    margin-bottom:20px;
}


.emotion-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    
    background-color: #fff;
    
   
}

.emotion-card-header h4 {
    text-align: center;
    font-size: 1.5rem;
    color: #333;
    padding-bottom: 15px;
    margin-right: 15px;
    margin-left: 15px;
    border-bottom: 1px solid rgba(169, 169, 169, 0.5);
    box-shadow:0px 1px 0px 0px rgba(0, 0, 0, 0.1);
}

.emotion-card-body {
    padding: 0px;
}



.chart-section {
    flex: 1;
}

    .chart-section h5 {
        font-size: 1.2rem;
        margin-bottom: 0px;
        color: #555;
    }

#emotionTable th:nth-child(2), #emotionTable td:nth-child(2) {
    width: 150px; /* Mùeš si pøizpùsobit šíøku podle potøeby */
    word-wrap: break-word; /* Umoní textu, aby se zalamoval, pokud je pøíliš dlouhı */
}
.stat-box {
    background: #cce5ff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-width: 180px;
}
.stat-boxFB {
    background: #1877F2;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-width: 180px;
}
.stat-boxTW {
    background: #1DA1F2;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-width: 180px;
}
.stat-number {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
}

.stat-label {
    font-size: 14px;
    color: #6c757d;
}
.stat-numberS {
    font-size: 24px;
    font-weight: bold;
    color: #e4e8f0;
}

.stat-labelS {
    font-size: 14px;
    color: #e4e8f0;
}
.week-info-container {
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}



/* Karty pro kadı tıden */
.week-card {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 45%;
    transition: transform 0.3s ease;
}

    .week-card h4 {
        font-size: 18px;
        margin-bottom: 10px;
        color: #444;
    }

    .week-card p {
        font-size: 16px;
        color: #777;
    }

    .week-card.active {
        background-color: #d4edda; /* Svìtle zelená pro nejaktivnìjší */
        border-left: 5px solid #28a745;
    }

    .week-card.inactive {
        background-color: #f8d7da; /* Svìtle èervená pro nejménì aktivní */
        border-left: 5px solid #dc3545;
    }

    .week-card:hover {
        transform: scale(1.05);
    }